In [85]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [86]:
df=pd.read_csv('https://raw.githubusercontent.com/Premalatha-success/Supervised-Learning/main/titanic-training-data.csv')

In [87]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [88]:
df.shape

(891, 12)

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [90]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [91]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [92]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [93]:
df=df.drop(['Cabin','Name','Ticket'],axis=1)

In [94]:
df.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [95]:
df.dropna(inplace=True)
df.isnull().sum()###approach 1 to drop all nan values

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [96]:
df.shape

(712, 9)

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Sex          712 non-null    object
 4   Age          712 non-null    float64
 5   SibSp        712 non-null    int64
 6   Parch        712 non-null    int64
 7   Fare         712 non-null    float64
 8   Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 55.6+ KB

In [98]:
Sex=pd.get_dummies(df['Sex'])
Sex.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [99]:
Sex=pd.get_dummies(df['Sex'],drop_first=True)
Sex.head()

   male
0     1
1     0
2     0
3     0
4     1

In [100]:
Pclass=pd.get_dummies(df['Pclass'])
Pclass.head()

   1  2  3
0  0  0  1
1  1  0  0
2  0  0  1
3  1  0  0
4  0  0  1

In [101]:
Pclass=pd.get_dummies(df['Pclass'],drop_first=True)
Pclass.head()

   2  3
0  0  1
1  0  0
2  0  1
3  0  0
4  0  1

In [102]:
Embarked=pd.get_dummies(df['Embarked'])
Embarked.head()

   C  Q  S
0  0  0  1
1  1  0  0
2  0  0  1
3  0  0  1
4  0  0  1

In [103]:
Embarked=pd.get_dummies(df['Embarked'],drop_first=True)
Embarked.head()

   Q  S
0  0  1
1  0  0
2  0  1
3  0  1
4  0  1

In [104]:
df=pd.concat([df,Sex,Pclass,Embarked],axis=1)
df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,male,2,3,Q,S
0,1,0,3,male,22.0,1,0,7.2500,S,1,0,1,0,1
1,2,1,1,female,38.0,1,0,71.2833,C,0,0,0,0,0
2,3,1,3,female,26.0,0,0,7.9250,S,0,0,1,0,1
3,4,1,1,female,35.0,1,0,53.1000,S,0,0,0,0,1
4,5,0,3,male,35.0,0,0,8.0500,S,1,0,1,0,1

In [105]:
df.drop(['Sex','PassengerId','Pclass','Fare','Embarked'],axis=1,inplace=True)
df.head()

   Survived   Age  SibSp  Parch  male  2  3  Q  S
0         0  22.0      1      0     1  0  1  0  1
1         1  38.0      1      0     0  0  0  0  0
2         1  26.0      0      0     0  0  1  0  1
3         1  35.0      1      0     0  0  0  0  1
4         0  35.0      0      0     1  0  1  0  1

X=df.drop('Survived',axis=1)
y=df.pop('Survived')

In [106]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=26)

#Building Decision Tree Model

In [107]:
from sklearn.tree import DecisionTreeClassifier

In [108]:
df=DecisionTreeClassifier(criterion='entropy',random_state=26)
df.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', random_state=26)

## Scoring Our Decisin Tree

In [109]:
print(df.score(X_train,y_train))
print(df.score(X_test,y_test))

0.9477911646586346
0.7616822429906542

## Reducing overfitting(Regularization)

In [111]:
df=DecisionTreeClassifier(criterion='entropy',max_depth=4,random_state=26)
df.fit(X_train,y_train)
print(df.score(X_train,y_train))
print(df.score(X_test,y_test))

0.8413654618473896
0.7897196261682243

## Enselble learning-bagging

In [119]:
from sklearn.ensemble import BaggingClassifier
bgcl=BaggingClassifier(n_estimators=50,base_estimator=df,random_state=26)
bgcl=bgcl.fit(X_train,y_train)
y_predict=bgcl.predict(X_test)
print(bgcl.score(X_train,y_test))

ValueError: Found input variables with inconsistent numbers of samples: [214, 498]

## Ensemble Learning- AdaBoosting

In [120]:
from sklearn.ensemble import BaggingClassifier
bgcl=BaggingClassifier(n_estimators=50,base_estimator=df,random_state=26)
bgcl=bgcl.fit(X_train,y_train)
y_predict=bgcl.predict(X_test)
print(bgcl.score(X_train,y_test))

ValueError: Found input variables with inconsistent numbers of samples: [214, 498]

## Ensemble learning- GradientBoosting

In [121]:
from sklearn.ensemble import GradientBoostingClassifier
gbcl=GradientBoostingClassifier(n_estimators=50,random_state=26)
gbcl=gbcl.fit(X_train,y_train)
y_predict=gbcl.predict(X_test)
print(gbcl.score(X_train,y_test))

ValueError: Found input variables with inconsistent numbers of samples: [214, 498]